@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --bg: linear-gradient(122deg, rgba(0,45,98,1) 0%, rgba(3,70,148,1) 100%);
  --cabecalho: linear-gradient(122deg, rgba(80,114,167,1) 0%, rgba(102,153,204,1) 100%);
  --font-color: #F0F8FF;
}

body {
  height: 100vh;
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
}

/* CABEÇALHO */

header {
  text-align: center;
  padding: 1em 0;
  width: 100%;
  background: var(--cabecalho);
}

header h1 {
  color: var(--font-color);
  font-weight: 400;
  font-size: 1.2em;
}

header strong {
  font-weight: 700;
}

/* CALCULADORA */

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.calculadora {
  background: #002d62;
  box-shadow:  9px 9px 18px #002148,
              -9px -9px 18px #00397c;
  position: absolute;
  border-radius: 15px;
  padding: 2em;
}

.calculadora h2 {
  color: var(--font-color);
  display: none;
}

.calculadora p {
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  height: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  width: 100%;
  color: black;
  font-weight: 700;
  font-size: 1.5em; 
}

button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  margin: 1px;
  color: white;
}

.row {
  position: fixed ;
  height: 102px;
}

.col {
  position: fixed;
  width: 102px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
